#title{
  text-align: center;
  font-size: 3em;
  text-weight: px;
  color: #5F37AF;
  margin-top: 30px;
}

.tooltip{
    position: absolute;			
    padding: 15px;				
    font: 15px sans-serif;		
    background: lightgrey;		
    border-radius: 8px;			
    pointer-events: none;		
}